h1 {
    margin: auto;
    padding: 10px 10px 100px 10px;
}

#gameCanvas {
    height: 40vh;
    width: 65vw;
    min-width: 500px;
    max-width: 1000px;
    min-height: 500px;
    max-height: 750px;
    border: solid 3px black;
    display: flex;
    margin: auto; 
    margin-bottom: 10px;
}

.buttonGroup {
    display: table;
    margin: auto;
}

button {
    display: inline;
    width: 7rem;
    height: 2rem;
    font-weight: bold;
    margin: 2rem;
    margin-bottom: 0;
}

button:hover {
    background-color: #faff74;
}

#description {
    width: 52vw;
    display: flex;
    margin: auto;
    margin-top: 3rem;
}